#cartcontainer{
  margin-top: 40px;
  align-content: center;
}

#templatedCart{
  margin-top: 0px;
  width: 80%;
}

.carttitle{
  color:black;
  font-size: 50px;
  padding: 0px;
  margin-bottom: 10px;
  height: 60px;
  display: flex;
  width: auto;
  border-bottom: 2px solid black
}

.del{
    display:flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
}

#delall{
  margin-left: auto;
  margin-right: 25px;
}

#delall:hover{
  background-color: #fb91b2;
}

.container{
  width: 80%;
}

.cartitem{
  width: 100%;
  height: 250px;
  display: flex;
}

.itemimg{
  width: 200px;
  height: 200px;
}

.cartitem img{
  width: auto;
  height: 100%;
}

.itemLabel{
  font-size: 30px;
}

.iteminfo{
  font-size: 20px;
  margin-left: 50px;
}

.deletebtn{
  padding: 0px;
  margin-left: auto;
  margin-right: 45px;
  text-align: center;
  width: 120px;
  height: 40px;
  font-size: 18px;
}

.deletebtn:hover{
  background-color: #fb91b2;
}

#checkoutbtn{
  margin-top: 12px;
  margin-right: 0px;
  margin-left: auto;
  float: right;
  background-color: white;
  height: 35px;
  color: black;
  font-size: 20px;
  line-height: 20px;
}

#checkoutbtn:hover{
  background-color:#fb91b2;
}

#shopnow{
  color: #d66c8d;
  text-decoration: none;
}

#shopnow:hover{
  color: #ce3c72;
}
