body{
  color: black;
}

#profiletxt{
  margin-top: 50px;
}

#profiletitle{
  font-size: 35px;
}

#profileinfo{
  padding-left: 50px;
}

.info{
  border-top: 10px;
  border-bottom: 10px;
  font-size: 25px;
}

.txt{
  color: #ce3c72;
  padding-left: 20px;
  font-size: 20px;
}
